/* customerdetail.css */
:root {
  --mg-primary-light: #FFFDE7; /* Creamy Yellow */
  --mg-primary-dark: #556B2F;  /* Dark Olive Green */
  --mg-text-dark: #333333;
}

/* Ensure the main container uses the light background color */
.customer-detail-main-content {
  background-color: var(--mg-primary-light);
  min-height: 100vh;
}

/* Base styles for the sidebar */
.mg-sidebar {
  background-color: var(--mg-primary-dark);
  color: var(--mg-primary-light);
}

/* Style the main app container for the two-column mobile view */
.mg-app-container {
  display: flex;
  min-height: 100vh;
}
#customer-details{
    color: black;
}